:root {
  --primary-color: #0b1425;
  --primary-light: #1c2f4d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  background: radial-gradient(
    circle at 368px 200px,
    #85a1a7 -7%,
    var(--primary-light) 41%,
    var(--primary-color) 70%
  );
}
