@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

$primary-color: #0b1425;
$primary-light: #1c2f4d;
$color-white: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.mb-small {
  margin-bottom: 8px;
}

.b {
  border: 2px solid $color-white;
}

.block {
  display: block;
}

.container {
  height: 100vh;
  background: radial-gradient(
    circle at 368px 200px,
    #85a1a7 -7%,
    $primary-light 41%,
    $primary-color 70%
  );
  color: $color-white;

  & .container-top {
    display: flex;
    height: 50%;
  }

  & .container-bottom {
    display: flex;
    height: 50%;
  }
}

.daily-weather-icon img {
  max-width: 80px;
}

.current-temp,
.minmax-temp,
.forecast,
.extra-info {
  border: 2px solid $color-white;
  padding: 20px 40px;
}

.current-temp {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 2;

  & h1 {
    font-size: 75px;
    font-weight: 400;
  }

  & .location-info {
    font-size: 20px;
    font-weight: 300;
  }

  & .weather-condition {
    font-size: 24px;
    font-weight: 300;
  }

  & .temp-icon {
    // border: 2px solid $color-white;

    & img {
      max-width: 300px;
    }
  }
}

.minmax-temp {
  flex: 1;
}

.forecast {
  flex: 1;
  display: flex;
  flex-direction: column;

  & .forecastContainer,
  & .temp-graph {
    flex: 1;
  }

  & .forecastContainer {
    margin-bottom: 30px;

    & h3 {
      letter-spacing: 0.1rem;
      font-weight: 400;
      font-size: 20px;
    }
  }

  & .daily-forecast {
    text-align: center;
    padding: 20px 8px;
    background-color: rgba(28, 47, 77, 0.3);
  }

  & .forecast-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
  }

  & .daily-minmax {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    & .daily-max {
      font-size: 18px;
    }

    & .daily-min {
      font-size: 14px;
      margin-left: 5px;
      color: lightgray;
    }
  }
}

.extra-info {
  flex: 1;
  display: flex;

  & .extra-info-left,
  & .extra-info-right {
    flex: 1;
    border: 2px solid $color-white;
  }

  & .extra-info-left {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .ss {
      margin-bottom: 30px;
    }

    & .sunrise {
      margin-bottom: 20px;
    }
  }
}

.temp {
  display: flex;
  align-items: center;
  margin: 15px 0;

  .units {
    margin-left: 15px;

    & p {
      font-size: 30px;
      cursor: pointer;
      padding: 5px 8px;
    }
  }
}

.sunrise-time,
.sunset-time {
  margin-left: 30px;
  font-size: 22px;
  margin-top: 15px;
}
