@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

$primary-color: #0b1425;
$primary-light: #1c2f4d;
$color-white: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100vh;
  background: radial-gradient(
    circle at 368px 200px,
    #85a1a7 -7%,
    $primary-light 41%,
    $primary-color 70%
  );
  grid-template-areas:
    'current current current minmax'
    'forecast forecast extraInfo extraInfo';
  color: $color-white;
}

.container,
.forecast,
.extra-info {
  display: grid;
  gap: 20px;
}

.container,
.forecast {
  grid-template-rows: repeat(2, 1fr);
}

.current-temp,
.minmax-temp,
.forecast,
.extra-info {
  border: 2px solid $color-white;
  padding: 20px 40px;
}

.current-temp {
  grid-area: current;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  & h1 {
    font-size: 75px;
    font-weight: 400;
  }

  & .location-info {
    font-size: 20px;
    font-weight: 300;
  }

  & .weather-condition {
    font-size: 24px;
    font-weight: 300;
  }

  & .temp-icon {
    // border: 2px solid $color-white;

    & img {
      max-width: 300px;
    }
  }
}

.minmax-temp {
  grid-area: minmax;
}

.forecast {
  grid-area: forecast;

  & div {
    border: 2px solid $color-white;
  }
}

.extra-info {
  grid-area: extraInfo;
  grid-template-columns: repeat(2, 1fr);

  & div {
    border: 2px solid $color-white;
  }
}

.temp {
  display: flex;
  align-items: center;
  margin: 15px 0;

  .units {
    margin-left: 15px;

    & p {
      font-size: 30px;
      cursor: pointer;
      padding: 5px 8px;
    }
  }
}
